:root {
    --vp-c-brand-1: #5599c9;
    --vp-c-brand-2: #5599c9;
    --vp-c-brand-3: #5599c9;
    --vp-c-green: #008000;
    --vp-c-red: #ff0000;
    --vp-c-green-soft: #0080001a;
    --vp-c-red-soft: #ff00001a;
    --vp-c-brand: #5599c9;
    --vp-c-brand-soft: #5599c91a;
    --vp-c-brand-dark: #3389c7;
    --vp-c-bg-alt: #f0f0f0;
}

:root {
    /* hero标题渐变色 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #5599c9, #246898);

    /*hero logo背景渐变色 */
    --vp-home-hero-image-background-image: linear-gradient(120deg, #5599c9 60%, #5599c9 30%);
    --vp-home-hero-image-filter: blur(80px);
}